<!DOCTYPE html>
<html>
<head>
    <title>Confirma tu correo</title>
</head>
<body>
    <h1>Hola, {{ name }}</h1>
    <p>Gracias por registrarte. Usa este código para confirmar tu cuenta:</p>
    <p>Código: {{ confirmationCode }}</p>
</body>
</html>
